@import url('https://fonts.googleapis.com/css?family=Crete+Round');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

$base00: #181818;
$base01: #282828;
$base02: #383838;
$base03: #585858;
$base04: #b8b8b8;
$base05: #d8d8d8;
$base06: #e8e8e8;
$base07: #f8f8f8;
$base08: #ab4642;
$base09: #dc9656;
$base0A: #f7ca88;
$base0B: #a1b56c;
$base0C: #86c1b9;
$base0D: #7cafc2;
$base0E: #ba8baf;
$base0F: #a16946;

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    color: $base00;
    background-color: $base07;
}

.box {
    border: 2px solid $base00;
}

.container-fluid {
    padding: 0;
    background-color: $base07;
    height: 100%;
    //border-left: 1px solid $base00;
    //border-right: 1px solid $base00;
}

.bg-dark {
    background-color: $base02 !important;
}

.nav-link {
    margin: 0 auto;
}

.navbar-toggler {
    margin-right: 20px;
}

#mynavbar {
    background-color: $base02;
    color: $base07;
    font-size: 18px;
    padding: 10px 0 10px 10px;

    ul {
        text-align: center;
        padding-left: 50px;
    }

    li {
        padding-right: 25px;
        margin: 2.5px 0 2.5px 0;

        .active {
            background-color: $base07;
            border-radius: 2px;
            color: $base00;
        }

        .disabled {
            color: $base03;
        }
    }

    a {
        color: $base07;
        border-radius: 2px;
        transition: 0.3s ease-in, color 0.2s ease-in;
        max-width: 200px;
    }

    a:hover {
        background-color: $base0C;
        color: $base00;
        transition: background-color 0.3s ease-in, color 0.1s ease-in;
    }
}

#name {
    padding-top: 20px;
    font-size: 3em;
    font-family: "Crete Round", serif;
}

hr {
    background-color: $base00;
}

p {
    font-size: 18px;
}

#classes {
    margin: 0 5% 0 5%;
}

#projects {
    .btn {
        font-size: 18px;
        vertical-align: top;
    }
}

.invert {
    filter: invert(100%);
}

#me {
    border: 1px solid $base00;
    transform: scaleX(-1);
}

#gallery {
    text-align: center;
}
